@{
    ViewBag.Title = "AdminOnly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>For Admin users only!</h2>
<h4>@Html.ActionLink("Kelola Data Pengguna", "ManageUserPartial", "Home")</h4>
<h4>@Html.ActionLink("Kelola Data Buku", "AddBook", "Home")</h4>
<h4>@Html.ActionLink("Lihat Data Peminjaman", "", "")</h4>
<span class="alert-success">@ViewBag.Message</span>