@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Selamat Datang</h2>
<br />
Sudah Punya Akun? @Html.ActionLink("LogIn Here", "LogIn", "Account")<br />
Belum Mendaftar? @Html.ActionLink("Signup Now!", "SignUp", "Account")