@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hi <b>@Context.User.Identity.Name</b>! Selamat Datang di Perpustakaan SMK Telkom Malang</h2>
<h4>@Html.ActionLink("Kelola Data Perpustakaan","AdminOnly","Home") </h4>
<h4>@Html.ActionLink("Edit Profil", "EditProfile", "Home")</h4>
<h4>@Html.ActionLink("SignOut","SignOut","Account") </h4>